<div class="company-expansion-analysis-wrapper">
  <app-header></app-header>
  <br>
  <div class="container">
    <h1> Expansion Analysis </h1>
    <br>

    <div class="justify-content-center">
      <h3 > Top 3 popular Hawker </h3>
    </div>

    <div class="card-group">
      <div class="card">
        <img src="../../../../assets/images/hawkers/6th Avenue Wanton Mee.jpg" width="286" height="200" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> 6th Avenue Wanton Mee </h5>
          <p class="card-text"> <b>Address:</b> 24 Sixth Ave, Good Good Eating House, Singapore 276481 </p>
          <button type="button" class="btn btn-danger" (click)="switch('com1')"> View </button>
        </div>
      </div>
      <div class="card">
        <img src="../../../../assets/images/hawkers/Tong Siew Fried Rice.jfif"  width="286" height="200" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Tong Siew Fried Rice </h5>
          <p class="card-text"> <b>Address:</b> 43 Owen Rd, #01-23, Singapore 218864 </p>
          <button type="button" class="btn btn-primary" (click)="switch('com2')"> View </button>
        </div>
      </div>
      <div class="card">
        <img src="../../../../assets/images/hawkers/Zam Zam.png"  width="286" height="200" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Zam Zam </h5>
          <p class="card-text"> <b>Address:</b>  697-699 North Bridge Rd, Singapore 198675 </p>
          <button type="button" class="btn btn-secondary" (click)="switch('com3')"> View </button>
        </div>
      </div>
    </div>

    <hr class="solid">

    <h1> Company's Location </h1>
    <br>
    <div *ngIf="viewCompany1">
      <div class="align-items-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.742505053485!2d103.79274061475395!3d1.3305759990295483!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da109edd76d13f%3A0xab961777c1d795a9!2s6th%20Avenue%20Wanton%20Mee!5e0!3m2!1sen!2ssg!4v1630218287049!5m2!1sen!2ssg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>

    <div *ngIf="viewCompany2">
      <div class="justify-content-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7654681688887!2d103.84819971344771!3d1.316298299039949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19c35923e283%3A0xac3092dbbe5635d!2sTong%20Siew%20Fried%20Rice!5e0!3m2!1sen!2ssg!4v1630218488743!5m2!1sen!2ssg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>

    <div *ngIf="viewCompany3">
      <div class="justify-content-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7879606356946!2d103.85632241344774!3d1.302161499050264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19a517c53f6d%3A0x3c7f94a331e9d5b0!2sZam%20Zam%20Restaurant%2C%20Singapore!5e0!3m2!1sen!2ssg!4v1630218425011!5m2!1sen!2ssg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
    <hr class="solid">
    <h1> Traffic Flow </h1>
    <br>
    <!-- COMPANY 1 -->
    <div *ngIf="viewCompany1">
        <div class="row show-grid">
          <!-- dropdown -->
          <div class="col-md-12">
            <div class="btn-group" mdbDropdown>
              <button type="button" mdbBtn color="danger" class="waves-light" mdbWavesEffect> Select Year </button>
              <button type="button" mdbDropdownToggle mdbBtn color="danger" class="dropdown-toggle dropdown-toggle-split px-3 waves-light"
                mdbWavesEffect></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)='switchYear("2020")'>2020</a>
                <a class="dropdown-item" (click)='switchYear("2019")'>2019</a>
              </div>
            </div>
          </div>
          <!-- Chart -->
          <div class="col-md-12">
            <div style="display: block">
              <canvas mdbChart [chartType]="chartType_com1" [datasets]="chartDatasets_com1" [labels]="chartLabels_com1" [colors]="chartColors_com1" [options]="chartOptions_com1" [legend]="true"></canvas>
            </div>
          </div>
        </div>

    </div>
    <!-- END OF COMPANY 1 -->
    <!-- COMPANY 2 -->
    <div *ngIf="viewCompany2">
      <div class="row show-grid">
        <!-- dropdown -->
        <div class="col-md-12">
          <div class="btn-group" mdbDropdown>
            <button type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect> Select Year </button>
            <button type="button" mdbDropdownToggle mdbBtn color="primary" class="dropdown-toggle dropdown-toggle-split px-3 waves-light"
              mdbWavesEffect></button>
            <div class="dropdown-menu">
              <a class="dropdown-item" (click)='switchYear("2020")'>2020</a>
              <a class="dropdown-item" (click)='switchYear("2019")'>2019</a>
            </div>
          </div>
        </div>
        <!-- Chart -->
        <div class="col-md-12">
          <div style="display: block">
            <canvas mdbChart [chartType]="chartType_com2" [datasets]="chartDatasets_com2" [labels]="chartLabels_com2" [colors]="chartColors_com2" [options]="chartOptions_com2" [legend]="true"></canvas>
          </div>
        </div>
      </div>

    </div>
    <!-- END OF COMPANY 2 -->
    <!-- COMPANY 3 -->
    <div *ngIf="viewCompany3">
      <div class="row show-grid">
        <!-- dropdown -->
        <div class="col-md-12">
          <div class="btn-group" mdbDropdown>
            <button type="button" mdbBtn color="secondary" class="waves-light" mdbWavesEffect> Select Year </button>
            <button type="button" mdbDropdownToggle mdbBtn color="secondary" class="dropdown-toggle dropdown-toggle-split px-3 waves-light"
              mdbWavesEffect></button>
            <div class="dropdown-menu">
              <a class="dropdown-item" (click)='switchYear("2020")'>2020</a>
              <a class="dropdown-item" (click)='switchYear("2019")'>2019</a>
            </div>
          </div>
        </div>
        <!-- Chart -->
        <div class="col-md-12">
          <div style="display: block">
            <canvas mdbChart [chartType]="chartType_com3" [datasets]="chartDatasets_com3" [labels]="chartLabels_com3" [colors]="chartColors_com3" [options]="chartOptions_com3" [legend]="true"></canvas>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--
  <table *ngFor="let transaction of transactions; let i = index" class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Key</th>
      <th scope="col">Value</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of transaction | keyvalue">
        <td>{{item.key}}</td>
        <td>{{item.value}}</td>
      </tr>
    </tbody>
    <br>
  </table>
  -->
  <br>


</div>
