<app-header></app-header>
<div class="company-create-loan-wrapper">
  <h1>Create Loan</h1>
  <br>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Company Name</label>
        <input type="text" class="form-control" value="Song Kee Fish Ball Noodle" placeholder="Song Kee Fish Ball Noodle" readonly name="company_name" [(ngModel)]="newLoan.company_name" required>
      </div>
      <div class="form-group col-md-6">
        <label>Loan Amount</label>
        <input type="number" class="form-control" value="Loan Amount" placeholder="Loan Amount" name="loan_amount"  [(ngModel)]="newLoan.loan_amount" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Company Address</label>
        <input type="text" class="form-control" value="Blk 79 Circuit Rd, #01-06, Singapore 370079" placeholder="Blk 79 Circuit Rd, #01-06, Singapore 370079" readonly name="company_address" [(ngModel)]="newLoan.company_address" required>
      </div>
      <div class="form-row">
        <div class="form-group auto-mx p">
      <label>Payment Period</label>
        <select class="form-control" aria-label="Default select example" name="payment_period" placeholder="payment_period" [(ngModel)]="newLoan.payment_period">
          <option value="1" selected>Monthly</option>
          <option value="2">Quarterly</option>
          <option value="3">Yearly</option>
          <!--<input type="text" class="form-control" placeholder="Payment Period" name="payment_period" [(ngModel)]="newLoan.payment_period" required>-->
        </select>        
      </div>
      </div>


    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Company Number</label>
        <input type="number" class="form-control" value="65653789" placeholder="65653789" readonly name="company_name" [(ngModel)]="newLoan.company_number" required>
      </div>
      <div class="form-group col-md-6">
        <label>Interest Rate</label>
        <input type="number" class="form-control" placeholder="Interest Rate" name="interest_rate"  [(ngModel)]="newLoan.interest_rate" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Applicant Name</label>
        <input type="text" class="form-control" placeholder="Applicant Name" name="applicant_name" [(ngModel)]="newLoan.applicant_name" required>
      </div>
      <div class="form-group col-md-6">
        <label>Reason for Loan</label>
        <input type="text" class="form-control" placeholder="Reason for Loan" name="reason_for_loan"  [(ngModel)]="newLoan.reason_for_loan" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Applicant ID</label>
        <input type="text" class="form-control" placeholder="Applicant ID" name="applicant_id" [(ngModel)]="newLoan.applicant_id" required>
      </div>
      <div class="form-group col-md-6">
        <label>Loan Period</label>
        <input type="text" class="form-control" placeholder="Loan Period" name="loan_period"  [(ngModel)]="newLoan.loan_period" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Paying Account ID</label>
        <input type="text" class="form-control" placeholder="Paying Account ID" name="paying_account_id" [(ngModel)]="newLoan.paying_account_id" required>
      </div>
      <div class="form-group col-md-6">
      </div>
    </div>
    <br>
    <br>
    <br>
    <h1>Create Business Proposal</h1>
    <br>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Monthly Revenue</label>
        <input type="number" class="form-control" value="$16,000" placeholder="$16,000" readonly name="monthly_revenue" [(ngModel)]="newBusinessProposal.monthly_revenue" required>
      </div>
      <div class="form-group col-md-6">
        <label>Company Asset</label>
        <input type="number" class="form-control" placeholder="Company Asset" name="company_asset"  [(ngModel)]="newBusinessProposal.company_asset" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Monthly Expense</label>
        <input type="number" class="form-control" value="$7,010" placeholder="$7,010" readonly name="monthly_expense" [(ngModel)]="newBusinessProposal.monthly_expense" required>
      </div>
      <div class="form-group col-md-6">
        <label>Other Capital</label>
        <input type="number" class="form-control" placeholder="Other Capital" name="other_capital"  [(ngModel)]="newBusinessProposal.other_capital" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Monthly Profit</label>
        <input type="number" class="form-control" value="$8,990" placeholder="$8,990" readonly name="monthly_profit" [(ngModel)]="newBusinessProposal.monthly_profit" required>
      </div>
      <div class="form-group col-md-6">
        <label>Cash on hand</label>
        <input type="number" class="form-control" placeholder="Cash on hand" name="cash_on_hand"  [(ngModel)]="newBusinessProposal.cash_on_hand" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Available Goldman Sachs Account</label>
        <input type="number" class="form-control" value="$20,000" placeholder="$20,000" readonly name="Available_Goldman_Sachs_Account" [(ngModel)]="newBusinessProposal.available_goldman_sachs_account" required>
      </div>
      <div class="form-group col-md-6">
        <label>Other Liabiliities</label>
        <input type="number" class="form-control" placeholder="Other Liabiliities" name="other_liablities"  [(ngModel)]="newBusinessProposal.other_liablities" required>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <br>
        <h3> Other supporting doc</h3>
        <p>Please upload supporting documents such as Applicant ID, External Transactions and any other proof required</p>
        <input type="file">
              </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary mt-2" (click)="createLoan()">Submit</button>
  </form>
</div>
