<div class="company-view-loans-wrapper">
  <app-header></app-header>
  <table  class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
        <th scope="col">Interest Rate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let loan of loans; let i = index">
        <td> {{ loan.id }}</td>
        <td> {{ loan.loan_amount }}</td>
        <td> {{ loan.status }}</td>
        <td> {{ loan.interest_rate }}</td>
      </tr>
    </tbody>
    <br>
  </table>

</div>
