.user-explore-wrapper {

}
.middle-right {
    position: absolute;
    top: 65%;
    left: 72%;
    transform: translate(-50%, -50%);
}

.middle-right-below {
    position: absolute;
    top: 55%;
    left: 65%;
    transform: translate(-50%, -50%);
}