html, body {
  height:100vh;
}
.loginPageBackground {
  background-image: url("../assets/images/login-wallpaper2.jpg");
  height: 100%;
  background-position: 0% 90%;
  background-size: cover;
}
.login-logo-container {
  align-content: center;
  margin: auto;
}
.login-logo {
  width: 20%;
  align-content: center;
  position: relative;
  top: 50px;
}
.loginPageStyle {
  // visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: 100vh;

}
.router-body {
  // background-color: #EEF3F6;
}

