<app-header></app-header>
<div class="user-view-transactions-wrapper">
  <h1>Transactions</h1>
  <br>
  <div class="card mb-4" *ngFor="let transaction of transactions; let i = index" >
    <div class="card-header">
      Transaction #{{transaction.id}}
      <br>
      ${{transaction.price}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{transaction.company_name}}</h5>
      <p class="card-text">{{transaction.company_address}}</p>
      <p class="card-text">{{transaction.product_name}}</p>
      <p class="card-text">Status: {{transaction.status | titlecase}}</p>
      <p class="card-text" *ngIf="transaction.status == 'Preparing'">Estimated completion time: 18:00pm</p>
<!--      <button class="btn btn-success">Received order</button>-->
    </div>
  </div>

</div>
