  <app-header></app-header>

  <div class="user-home-wrapper">
  <img src="../../../assets/images/landing_page.PNG" class="img-fluid" alt="Responsive image">
  </div>

  &nbsp;
  &ensp;
  &emsp;

  <br>
  <br>
  <br>
  <div class="col-6 row justify-content-left">
      <h1> How it works </h1>
  </div>
  <br>
 
  <div class="row align-items-center box">
    <div class="col d-flex justify-content-center text-center"><img src="../../../assets/images/Capture.PNG" width="250" height="350" class="img-fluid" alt="Responsive image"></div>
    <div class="col d-flex justify-content-center text-center"><img src="../../../assets/images/Capture.1.PNG" width="250" height="350" class="img-fluid" alt="Responsive image"></div>
   <div class="col d-flex justify-content-center text-center"><img src="../../../assets/images/Capture.2.PNG" width="250" height="350" class="img-fluid" alt="Responsive image"></div>
  </div>

  <div class="row align-items-center box">
    <div class="col justify-content-center "><h3>Choose a Plan</h3></div>
    <div class="col justify-content-center "><h3>Pay the Plan</h3></div>
   <div class="col justify-content-center"><h3>Pick-up your Meals</h3></div>
  </div>

  <div class="row align-items-center box">
    <div class="col justify-content-center font-weight-light"><p>Select the Duration for the plan. 
      We recommend the weekly plan to kick start your hawker journey. 
      
      Next, input your dietary requirements. We have curated plans made specially for you. (e.g. Halal, Vegetarian)</p></div>
    <div class="col justify-content-center font-weight-light"><p>Input your payment details.
      We accept Visa, Mastercard, Paypal, Paylah, PayNow.</p></div>
   <div class="col justify-content-center font-weight-light "><p>A list of Hawker selection will be made available to you daily. What’s more, it changes every day. Just select your meal 30 minutes before you reach the hawker stall!</p></div>
  </div>

  &nbsp;
  &ensp;
  &emsp;

  <br>
  <div class="col-6 row justify-content-left">
    <h1> Our Offerings to Hawkers </h1>
</div>
<br>

<div class="row row align-items-center">
  <div class="col d-flex justify-content-center text-center"><img src="../../../assets/images/Capture.3.PNG" width="250" height="350" class="img-fluid" alt="Responsive image"></div>
  <div class="col d-flex justify-content-center text-center"><img src="../../../assets/images/Capture.4.PNG" width="250" height="350" class="img-fluid" alt="Responsive image"></div>
 <div class="col d-flex justify-content-center text-center"><img src="../../../assets/images/Capture.5.PNG" width="250" height="350" class="img-fluid" alt="Responsive image"></div>
</div>

<div class="row row align-items-center">
  <div class="col justify-content-center"><h3>Improved access to capital</h3></div>
  <div class="col justify-content-center"><h3>Easy to understand financial overview</h3></div>
 <div class="col justify-content-center"><h3>Increased Visibility to Consumers</h3></div>
</div>

<div class="row row align-items-center font-weight-light">
  <div class="col justify-content-top"><p>Fear not about the not having enough capital to fund your businesses. We are here to assist you!</p></div>
  <div class="col justify-content-top"><p>Financial information in just a glance. Dashboard to support your operation.</p></div>
 <div class="col justify-content-top"><p>Worry less, focus more. With Goldman Sachs's Lobang, 'Lobang' always find customers for you.</p></div>
</div>